@model UsersToProcessListingModel
@{
	ViewData["Title"] = "Browse Users";
}

@{
	string previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
	string nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<h2 class="animated fadeInLeft">@ViewData["Title"]</h2>
<br />

<ul class="pagination">
	<li class="page-item @previousDisabled">
		<a class="page-link @previousDisabled" href="/Account/BrowseUsers?page=@Model.PeviousPage" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
			<span class="sr-only">Previous</span>
		</a>
	</li>
	@for (int i = 1; i <= Model.TotalPages; i++)
	{
		<li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)"><a class="page-link" href="/Account/BrowseUsers?page=@i">@i</a></li>
	}
	<li class="page-item @nextDisabled">
		<a class="page-link @nextDisabled" href="/Account/BrowseUsers?page=@Model.NextPage" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
			<span class="sr-only">Next</span>
		</a>
	</li>
</ul>

@if (Model.Users != null)
{
	@foreach (var user in Model.Users.OrderByDescending(t => t.Id))
	{
		<div class="container animated fadeInUp">
			<div class="row">
				<div class="col-md-9">
					<div class="wrapper wrapper-content">
						<div class="ibox">
							<div class="ibox-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="m-b-md">
											<h2><a href="/Account/Details/@user.Id">@user.Username</a></h2>
										</div>
										<dl class="dl-horizontal">
											<dt>Role:</dt>
											<dd>@user.Role</dd>
											<dt>State:</dt>
											@if (user.State == "Approved")
											{
												<dd><span class="label label-success">@user.State</span></dd>
											}
											else
											{
												<dd><span class="label label-danger">@user.State</span></dd>
											}
										</dl>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<dl class="dl-horizontal">
											<dt>First Name:</dt>
											<dd>@user.FirstName</dd>
											<dt>Last Name:</dt>
											<dd>@user.LastName</dd>
										</dl>
									</div>
									<div class="col-lg-7" id="cluster_info">
										<dl class="dl-horizontal">
											<dt>E-Mail:</dt>
											<dd>@user.Email</dd>
											<dt></dt>
										</dl>
									</div>
								</div>
								<div class="btn-toolbar pull-right">
									<div class="btn-group" role="group">
										<a class="btn btn-info form-group" href="/Account/Details/@user.Id">Details</a>
									</div>
									<div class="btn-group" role="group">
										<a class="btn btn-danger form-group" href="/Account/Delete/@user.Id">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}

<ul class="pagination">
	<li class="page-item @previousDisabled">
		<a class="page-link @previousDisabled" href="/Account/BrowseUsers?page=@Model.PeviousPage" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
			<span class="sr-only">Previous</span>
		</a>
	</li>
	@for (int i = 1; i <= Model.TotalPages; i++)
	{
		<li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)"><a class="page-link" href="/Account/BrowseUsers?page=@i">@i</a></li>
	}
	<li class="page-item @nextDisabled">
		<a class="page-link @nextDisabled" href="/Account/BrowseUsers?page=@Model.NextPage" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
			<span class="sr-only">Next</span>
		</a>
	</li>
</ul>