@model IEnumerable<ApprovingUsersViewModel>
@{
	ViewData["Title"] = "Users to approve";
}

<h2 class="animated fadeInLeft">@ViewData["Title"]</h2>
<br />

@if (Model != null)
{
	@foreach (var user in Model.OrderByDescending(t => t.Id))
	{
		<div class="container animated fadeInUp">
			<div class="row">
				<div class="col-md-9">
					<div class="wrapper wrapper-content">
						<div class="ibox">
							<div class="ibox-content">
								<div class="row">
									<div class="col-lg-12">
										<div class="m-b-md">
											<a class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#DenyModal">Deny</a>
											<a class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#ApproveModal">Approve</a>
											<h2>@user.Username</h2>
										</div>
										<dl class="dl-horizontal">
											<dt>Status:</dt>
											<dd><span class="label label-primary"></span></dd>
										</dl>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-5">
										<dl class="dl-horizontal">
											<dt>First Name:</dt>
											<dd>@user.FirstName</dd>
											<dt>Last Name:</dt>
											<dd>@user.LastName</dd>
										</dl>
									</div>
									<div class="col-lg-7" id="cluster_info">
										<dl class="dl-horizontal">
											<dt>E-Mail:</dt>
											<dd>@user.Email</dd>
										</dl>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="ApproveModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Approve Modal content-->
				<form method="post" action="/Account/Approve/@user.Id" id="approveForm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Are you sure?</h4>
						</div>
						<div class="modal-body">
							<p>Do you want to approve <strong>@user.Username</strong>?</p>
						</div>
						<div class="modal-footer">
							<button type="submit" form="approveForm" class="btn btn-success">Yes</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div id="DenyModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<form method="post" action="/Account/Deny/@user.Id" id="denyForm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Are you sure?</h4>
						</div>
						<div class="modal-body">
							<p>Do you want to deny <strong>@user.Username</strong>?</p>
						</div>
						<div class="modal-footer">
							<button type="submit" form="denyForm" class="btn btn-success">Yes</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
}